@use "../abstracts/mixins"as mixins;

.button {
        @include mixins.text(body);
        background-color: var(--project-button);
        color: var(--text);
        align-self: center;
        margin-top: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0.75em 2em;
        border-radius: 9999px;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        border: none;
        white-space: nowrap;
        transition: background-color 0.2s ease, transform 0.1s ease;
        margin-top: calc(var(--gutter-h) * 0.25);

        &:hover,
        &:focus-visible {
            background-color: var(--button-hover);
            color: var(--text);
            outline: none;
        }
    }