@use "sass:map";
@use "../abstracts/tokens"as tokens;
@use "../abstracts/mixins"as mixins;

.button {
    @include mixins.text(body);
    background-color: var(--project-button);
    color: var(--text);
    align-self: center;
    margin-top: auto;
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    padding: 0.75em 2em;
    border-radius: 9999px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border: none;
    white-space: nowrap;
    transition: background-color 0.2s ease, transform 0.1s ease;
    margin-top: calc(var(--gutter-h) * 0.25);

    &:hover,
    &:focus-visible {
        background-color: var(--button-hover);
        color: var(--text);
        outline: none;
    }

    &--topbar {
        @include mixins.text(h1);
        font-family: var(--font-serif);
        background-color: var(--button-contact);
        color: var(--text);
        margin-top: auto;
        gap: 0.5em;
        align-items: center;
        padding: 0.5em 1em;

        &:hover,
        &:focus-visible {
            background-color: var(--button-contact-hover);
            color: var(--text);
            outline: none;
        }


    }

    &--footer {
        @include mixins.text(small);
        gap: 0.5em;
        align-items: center;
        margin-top: 0;
        padding: 0.5em 1.5em;

        &:hover,
        &:focus-visible {
            background-color: var(--button-footer-hover);
            color: var(--text);
            outline: none;
        }
    }
}

@media (orientation: landscape) and (min-width: map.get(tokens.$breakpoints, tablet)) {

    .button {
        &--topbar {
            @include mixins.text-static(18, true);
            padding: 0.75em 2em;
            margin-top: 0;
        }
    }
}