@use "sass:map";
@use "../abstracts/tokens"as tokens;
@use "../abstracts/mixins"as mixins;

// The initial text you see open opening the website
.hero {
    height: auto;
    width: 100%;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    align-self: center;
    align-items: stretch;
    justify-items: center;
    container-type: inline-size;

    &__inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        width: 100%;
        align-self: start;
        margin-bottom: var(--gutter-h);
    }

    &__title {
        @include mixins.text(t1);
        font-family: var(--font-display);
        font-weight: 700;
        color: var(--text);
        margin-top: calc(var(--gutter-h) * 0.5);
    }

    &__subtitle {
        @include mixins.text(s1);
        font-family: var(--font-display);
        font-weight: 400;
        display: block;
        color: var(--text-2);
    }

    &__break {
        display: block;
    }

    &__break2 {
        display: inline;
    }

    &__pointer {
        display: flex;
        justify-self: flex-end;
        align-self: end;
        align-items: flex-end;
        gap: 0.5em;
    }

    &__arrow {
        @include mixins.text(s2);
        color: var(--hero-arrow);
        font-family: var(--font-arrow);

        display: inline-flex;
        align-items: flex-start;
    }

    &__explore {
        @include mixins.text(s2);
        align-self: center;
        font-family: var(--font-display);
        font-weight: 400;
    }

    &__gradient {
        
    }

    & p {
        margin: 0;
    }
}

// Adjusts settings for landscape
@media (orientation: landscape) and (min-width: map.get(tokens.$breakpoints, tablet)) {
    .hero {
        align-items: center;

        &__inner {
            grid-template-columns: 1fr;
            justify-items: start;
            text-align: left;
        }

        &__text {
            justify-self: flex-start;
            margin-bottom: calc(var(--gutter-h) * 0.5);
        }

        &__title {
            margin-bottom: calc(var(--gutter-h) * 0.5);
        }

        &__subtitle {
            margin: 0;
        }

        &__break {
            display: inline;
        }

        &__break2 {
            display: block;
        }
    }
}

@media (max-height: #{map.get(tokens.$breakpoints, mobile-guard)}) {

    .hero {
        &__pointer {
            min-width: auto;
            position: absolute;
            bottom: clamp(8px, 2vh, 24px);
        }

        &__inner {
            position: relative;
        }
    }
}