@use "sass:map";
@use "../abstracts/tokens"as tokens;
@use "../abstracts/mixins"as mixins;

.image {
    &__wrapper {
        width: var(--project-section);
        overflow: hidden;
        border-radius: 2rem;
        position: relative;
        aspect-ratio: 1/1;

        &--hero {
            margin-top: var(--gutter-h);
        }

        &--content {
            justify-self: center;
        }
    }

    &__content {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__logo {
        height: 48px;
        width: 48px;
        display: inline-block;

        &--footer {
            height: 24px;
            width: 24px;
        }
    }

    &__icon {
        inline-size: 1em;
        block-size: 1em;
        display: inline-block;
        vertical-align: text-bottom;
    }

    &__icon-big {
        inline-size: 1.5em;
        block-size: 1.5em;
        display: inline-block;
        vertical-align: text-bottom;
    }
}

@media (orientation: landscape) and (min-width: map.get(tokens.$breakpoints, tablet)) {
    .image {
        &__wrapper {
            height: auto;
            aspect-ratio: 21 / 9;

            &--hero {
                width: var(--project-section);
                max-width: var(--project-section);
            }

            &--content {
                width: var(--project-image);
                max-width: var(--project-image);
            }
        }

        &__content {
            display: block;
            inline-size: 100%;
            block-size: 100%;
            object-position: center 0%;
        }

        &__logo--footer {
            height: 36px;
            width: 36px;
        }
    }
}