.animations-init .featured,
.animations-init .project__hero,
.animations-init .project__hero-image,
.animiations-init .image__wrapper,
.animiations-init .image__content {
  opacity: 0;
}

.animations-init .bg-layers,
.animations-init .topbar,
.animations-init .hero__title,
.animations-init .hero__subtitle,
.animations-init .hero__explore,
.animations-init .hero__arrow,
.animations-init .featured__card {
  opacity: 0;
  transform: translateY(10px);
}

.animations-init .bg,
.animations-init .bg--base { opacity: 1; transform: none; }
