.is-nav-open .hero__title,
.is-nav-open .hero__subtitle,
.is-nav-open .hero__explore,
.is-nav-open .hero__arrow {
  opacity: 0;
  transform: translateY(10px);
  transition: none !important;
}

.is-nav-open .hero__title,
.is-nav-open .hero__subtitle,
.is-nav-open .hero__explore,
.is-nav-open .hero__arrow {
  opacity: 0 !important;
}