@use "sass:map";
@use "../abstracts/mixins" as mixins;
@use "../abstracts/tokens" as tokens;

.bg-layers {
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

// Global Base
@include mixins.bg-layer(base, var(--base), normal, cover, 1, center top, no-repeat, 0);

// Main
@include mixins.bg-tile-layer(glow--bright-yellow, lighten, 0.3, 1, false, 800px);
@include mixins.bg-tile-layer(repeat--shadow-brown, multiply, 0.7, 1, false, 600px);
@include mixins.bg-tile-layer(glow--yellow, lighten, 0.3, 1, false, 800px);
@include mixins.bg-tile-layer(repeat--shadow-orange, multiply, 0.7, 1, false, 900px);
@include mixins.bg-tile-layer(repeat--shadow-green, multiply, 0.8, 1, false, 700px);
@include mixins.bg-tile-layer(repeat--peach, soft-light, 0.8, 1, false, 700px);
@include mixins.bg-tile-layer(repeat--mint, soft-light, 0.4, 1, false, 1000px);
@include mixins.bg-tile-layer(repeat--orange, soft-light, 0.8, 1, false, 700px);

@include mixins.bg-layer(blend-main, var(--blend-main), overlay, cover, 1, center top, no-repeat, 2);

@include mixins.bg-layer(mask-hero, var(--mask-hero), normal, 3840px 2160px, 1, center top, no-repeat, 3);
@include mixins.bg-layer(mask-project, var(--mask-project), normal, 3840px 2160px, 1, center top, no-repeat, 3);

.bg--repeat-canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.bg--repeat-canvas canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

// Keeps the site content over the background overlay
.site-main> :not(.bg-layers) {
  position: relative;
  z-index: 1;
}

@media (max-height: #{map.get(tokens.$breakpoints, mobile-guard)}) {

}