@use "sass:map";
@use "../abstracts/tokens"as tokens;
@use "../abstracts/mixins"as mixins;

$tablet-width: 740px;
$tablet-height: 480px;

$hd-width: 1120px;
$hd-height: 560px;

$uhd-width: 1248px;
$uhd-height: 832px;

.creative {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin-bottom: var(--gutter-2h);

    // Outer Containers
    &__hero {
        width: var(--container);
        display: flex;
        justify-content: center;
        margin-block: var(--gutter-2h);
        padding-inline: var(--margin);

        &-inner {
            inline-size: var(--container);
            margin-inline: auto;
            container-type: inline-size;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &__gallery {
        width: var(--container);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-block: 1em;
    }

    &__frame {
        margin-block: var(--margin-h);

        &--key {
            @include mixins.frame-size($tablet-height, 2, 3);
        }

        // Square
        &--1x1 {
            @include mixins.frame-size($tablet-height, 1, 1);
        }

        // Portrait
        &--2x3 {
            @include mixins.frame-size($tablet-height, 2, 3);
        }

        &--3x4 {
            @include mixins.frame-size($tablet-height, 3, 4);
        }

        // Landscape
        &--3x2 {
            @include mixins.frame-size($tablet-width, 3, 2);
        }

        &--5x4 {
            @include mixins.frame-size($tablet-width, 5, 4);
        }

        &--16x9 {
            @include mixins.frame-size($tablet-width, 3, 2);
        }

    }

    &__card {
        background-color: color-mix(in srgb, var(--creative-card) 75%, transparent);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        width: 165px;
        aspect-ratio: 1 / 1;

        &--start {
            align-self: flex-start;
        }

        &--end {
            align-self: flex-end;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
    }

}

@media (orientation: landscape) and (min-width: map.get(tokens.$breakpoints, tablet)) {

    .creative {

        // Outer Containers
        &__hero-inner {
            inline-size: var(--project-section);
        }

        &__item {
            flex-direction: row;
            gap: 1em;
        }

        &__frame {

            &--key {
                @include mixins.frame-size($uhd-height, 2, 3);
            }

            // Square
            &--1x1 {
                @include mixins.frame-size($hd-height, 1, 1);
            }

            // Portrait
            &--2x3 {
                @include mixins.frame-size($hd-height, 2, 3);
            }

            &--3x4 {
                @include mixins.frame-size($hd-height, 3, 4);
            }

            // Landscape
            &--3x2 {
                @include mixins.frame-size($hd-width, 3, 2);
            }

            &--5x4 {
                @include mixins.frame-size($hd-width, 5, 4);
            }

            &--16x9 {
                @include mixins.frame-size($hd-width, 16, 9);
            }
        }

        &__card {
            padding: 24px;
            width: 200px;
        
            &--start,
            &--end {
                align-self: center;
            }
        }

    }
}