@use "sass:map";
@use "../abstracts/tokens"as tokens;

$tablet-width: 748.8px;
$tablet-height: 499.2px;

$uhd-width: 1872px;
$uhd-height: 1248px;


.featured {
    height: auto;
    display: flex;
    justify-content: center;
    margin-inline: var(--margin);
    margin-block: var(--margin-h);

    &__inner {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    &__card {

        max-width: 100%;
        margin-block: var(--margin-h);
        overflow: hidden;
        border-radius: 5%;

        &--landscape {
            width: min(var(--container), #{$tablet-width});
            height: min(var(--container), #{$tablet-height});
        }

        &--square {
            width: min(var(--container), #{$tablet-width});
            height: min(var(--container), #{$tablet-width});
        }

        &--portrait {
            width: min(var(--container), #{$tablet-height});
            height: min(var(--container), #{$tablet-width});
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        border-radius: 0;
    }
}

@media (orientation: landscape) and (min-width: map.get(tokens.$breakpoints, tablet)) {

    .featured {
        &__card {
            width: 100%;
            height: auto;
            max-height: var(--container-h);

            &--landscape {
                width: min(var(--container), #{$uhd-width});
                height: min(var(--container), #{$uhd-height});
            }

            &--square {
                height: min(var(--container), #{$uhd-width});
                width: auto;
            }

            &--portrait {
                width: min(var(--container), #{$tablet-height});
                height: min(var(--container), #{$tablet-width});
            }
        }
    }
}

@media (max-height: #{map.get(tokens.$breakpoints, mobile-guard)}) {

    .featured {

        &__card {
            max-width: 100%;
            max-height: calc(100svh - (var(--margin-h)));

            &--landscape {
                width: min(var(--container), #{$uhd-width});
                height: min(var(--container), #{$uhd-height});
            }

            &--square {
                width: min(var(--container), #{$uhd-width});
                height: min(var(--container), #{$uhd-width});
            }

            &--portrait {
                width: min(var(--container), #{$uhd-height});
                height: min(var(--container), #{$uhd-width});
            }
        }
    }
}