@use "sass:map";
@use "../abstracts/tokens"as tokens;
@use "../abstracts/mixins"as mixins;

$tablet-width: 748.8px;
$tablet-height: 499.2px;

$uhd-width: 1872px;
$uhd-height: 1248px;

.featured {
    height: auto;
    display: flex;
    justify-content: center;
    margin-inline: var(--margin);
    margin-block: var(--margin-h);

    &__inner {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    &__card {
        max-width: 100%;
        margin-block: var(--margin-h);
        overflow: hidden;
        border-radius: 2rem;
        position: relative;
        container-type: inline-size;

        &--landscape {
            width: min(var(--container), #{$tablet-width});
            height: min(var(--container), #{$tablet-height});
        }

        &--square {
            width: min(var(--container), #{$tablet-width});
            height: min(var(--container), #{$tablet-width});
        }

        &--portrait {
            width: min(var(--container), #{$tablet-height});
            height: min(var(--container), #{$tablet-width});
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        border-radius: 0;
    }

    &__text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &--right {
            text-align: right;
            right: var(--margin);
        }

        &--left {
            text-align: left;
            left: var(--margin);
        }
    }

    &__mask {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;

        &--right {
            background-image: linear-gradient(to right,
                    rgba(0, 0, 0, 0) 33%,
                    rgba(30, 30, 30, 0.8) 50%,
                    rgba(20, 20, 20, 0.85) 75%,
                    rgba(15, 15, 15, 0.9) 100%);
            right: 0;
            top: 0;
        }

        &--left {
            background-image: linear-gradient(to left,
                    rgba(0, 0, 0, 0) 33%,
                    rgba(30, 30, 30, 0.8) 50%,
                    rgba(20, 20, 20, 0.85) 75%,
                    rgba(15, 15, 15, 0.9) 100%);
            left: 0;
            top: 0;
        }
    }

    &__label {
        @include mixins.text(f3);
        font-family: var(--font-display);
        font-weight: 600;
        display: block;
        color: var(--featured-label);
    }

    &__title {
        @include mixins.text(f3);
        font-weight: 450;
    }

    &__button {
        @include mixins.text(button);
        background-color: var(--button);
        color: var(--text);
        align-self: center;
        margin-top: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0.75em 1.5em;
        border-radius: 9999px;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
        border: none;
        white-space: nowrap;
        transition: background-color 0.2s ease, transform 0.1s ease;
        margin-top: calc(var(--gutter-h) * 0.25);

        &:hover,
        &:focus-visible {
            background-color: var(--button-hover);
            color: var(--text);
            outline: none;
        }
    }
}

@media (orientation: landscape) and (min-width: map.get(tokens.$breakpoints, tablet)) {

    .featured {
        &__card {
            width: 100%;
            height: auto;
            max-height: var(--container-h);

            &--landscape {
                width: min(var(--container), #{$uhd-width});
                height: min(var(--container), #{$uhd-height});
            }

            &--square {
                height: min(var(--container), #{$uhd-width});
                width: auto;
            }

            &--portrait {
                width: min(var(--container), #{$tablet-height});
                height: min(var(--container), #{$tablet-width});
            }
        }

        &__mask {
            &--right {
                background-image: linear-gradient(to right,
                        rgba(0, 0, 0, 0) 33%,
                        rgba(30, 30, 30, 0.8) 60%,
                        rgba(20, 20, 20, 0.85) 75%,
                        rgba(15, 15, 15, 0.9) 100%);
            }

            &--left {
                background-image: linear-gradient(to left,
                        rgba(0, 0, 0, 0) 33%,
                        rgba(30, 30, 30, 0.8) 55%,
                        rgba(20, 20, 20, 0.85) 75%,
                        rgba(15, 15, 15, 0.9) 100%);
            }
        }

        &__other {
            display: flex;
            justify-content: space-between;
            width: min(var(--container), #{$uhd-width});

            >* {
                width: min(var(--col-half), #{$uhd-width});
            }
        }

        &__button {
            padding: 0.75em 2em;
        }
    }
}

@media (max-height: #{map.get(tokens.$breakpoints, mobile-guard)}) {

    .featured {

        &__card {
            max-width: 100%;
            max-height: calc(100svh - (var(--margin-h)));

            &--landscape {
                width: min(var(--container), #{$uhd-width});
                height: min(var(--container), #{$uhd-height});
            }

            &--square {
                width: min(var(--container), #{$uhd-width});
                height: min(var(--container), #{$uhd-width});
            }

            &--portrait {
                width: min(var(--container), #{$uhd-height});
                height: min(var(--container), #{$uhd-width});
            }
        }

        &__other {
            display: flex;
            flex-direction: column;

            >* {
                width: min(var(--container), #{$uhd-width});
            }
        }
    }
}