@use "sass:map";
@use "../abstracts/tokens"as tokens;
@use "../abstracts/mixins"as mixins;

.footer {
    @include mixins.fullbleed;
    max-width: 100svw;
    container-type: inline-size;

    &__inner {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        background-color: color-mix(in srgb, var(--bg-footer) 50%, transparent);
        padding-inline: calc(var(--margin) * 2);
        padding-block: calc(var(--gutter-h) * 0.5);
        gap: 1em;
    }

    &__endbar {
        display: flex;
    }

    &__info {
        display: flex;
        gap: 1em;
    }

    &__contact {
        display: none;
    }

    &__links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    &__link {
        @include mixins.text(small);
        color: var(--text);
        text-decoration: none;
        margin: 0.5em 1.5em;

        &--none {
            display: none;
        }

        &:hover,
        &:focus-visible {
            color: var(--text-2);
            outline: none;
        }
    }

    p {
        margin: 0;
    }
}

@media (orientation: landscape) {

    .footer {

        &__inner {
            gap: 2em;
        }

        &__endbar {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: calc(var(--container) - 36px);
            margin-block: calc(var(--gutter-h) * 0.25);
        }

        &__contact {
            display: flex;
            flex-direction: column;
        }

        &__links {
            width: var(--col-half);
            gap: 1em;
        }

        &__link--none {
            display: inline;
        }
    }
}


@media (max-height: #{map.get(tokens.$breakpoints, mobile-guard)}) {}