@use "sass:map";
@use "../abstracts/tokens"as tokens;

// Container that fills the height of the screen
.panel {
  height: auto;
  padding-inline: var(--margin);

  // The initial content on the main
  &--hero {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

}

@media (orientation: landscape) and (min-width: map.get(tokens.$breakpoints, tablet)) {
  .panel {
    height: calc(100svh - (var(--gutter-h) * 2));
  }
}

@media (max-height: #{map.get(tokens.$breakpoints, mobile-guard)}) {
  .panel {
    height: auto;
  }
}
