@use "sass:map";
@use "../abstracts/tokens"as tokens;
@use "../abstracts/mixins"as mixins;

$tablet-width: 748.8px;
$tablet-height: 499.2px;

$uhd-width: 1872px;
$uhd-height: 1248px;

.project {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;

    // Outer Containers
    &__hero {
        width: var(--container);
        display: flex;
        justify-content: center;
        margin-top: var(--gutter-h);
        padding-inline: var(--margin);

        &-inner {
            inline-size: var(--container);
            margin-inline: auto;
            container-type: inline-size;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &__section {
        inline-size: 100%;
        display: flex;
        flex-direction: column;
        container-type: inline-size;
        padding-block: var(--gutter-h);
        align-items: center;

        &--challenge {
            @include mixins.fullbleed();
            background: var(--project-panel);
            padding-block: var(--gutter-h);
        }

        &--light {
            inline-size: var(--project-light);
            background-color: color-mix(in srgb, var(--project-mask) 90%, transparent);
        }

        &--dark {
            @include mixins.fullbleed();
            background: var(--project-panel);
        }
    }

    &__details {
        inline-size: var(--project-panel);
        display: flex;
        flex-direction: column;
        margin-top: calc(var(--gutter-h) * 0.5);
        gap: 1em;
        align-items: flex-start;

        &-item {
            width: 100%;
            display: flex;
            gap: 1em;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &-item {
            display: flex;
            gap: 1em;
            margin: 1em;
        }
    }

    &__list2 {
        margin-inline: calc(var(--margin) * 1.5);
        display: flex;
        flex-direction: column;
        margin-block: 0;
        gap: 0.5em;

        & li {
            margin: 0;
        }
    }

    &__grid {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        &-item {
            background-color: var(--project-panel);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            border-radius: 2rem;
            padding-block: calc(var(--gutter-h) * 0.25);

            & p {
                margin-block: calc(var(--gutter-h) * 0.25);
                margin-inline: var(--gutter);
            }
        }
    }

    // Inner Containers
    &__inner {
        padding-inline: var(--margin);
    }

    &__hero-image {
        @include mixins.fullbleed();
        width: 100%;
        display: flex;
        justify-content: center;
        background-image: linear-gradient(to bottom,
                transparent 0%,
                var(--project-panel) 100%);
    }
}

@media (orientation: landscape) and (min-width: map.get(tokens.$breakpoints, tablet)) {
    .project {

        // Outer Containers
        &__hero-inner {
            inline-size: var(--project-section);
        }

        // Inner Containers
        &__inner {
            width: var(--project-section);
        }

        &__list2 {
            margin-inline: var(--margin);
            gap: 1em;
        }

        &__grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1em;
        }

    }
}

@container (min-width: #{map.get(tokens.$breakpoints, tablet)}) {
    .project__details {
        display: grid;
        grid-template-areas:
            "item1 item2"
            "item3 item4";
        inline-size: var(--project-section);
        justify-self: center;
        justify-items: start;
    }
}
