@use "sass:map";
@use "../abstracts/tokens"as tokens;
@use "../abstracts/mixins"as mixins;

// Container for the site content body
.site-wrapper {
  width: 100%;
  min-height: 100svh;
  
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* ========================================================================== */
/* =                              SITE MAIN                                 = */
/* ========================================================================== */

.site-main {
  position: relative;
  isolation: isolate;
  min-height: 100svh;
}

// TEMP CLASS! DELETE AFTER DONE
.temp {
  /* spacing: one gutter-h above header, one below image */
  padding-top: var(--gutter-h);
  padding-bottom: var(--gutter-h);
  display: flex;
  flex: 1 1 auto;

  &__inner {
    /* center content block */
    margin-inline: auto;
    width: 100%;
    max-width:100svw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    @include mixins.font-sizes(40, 72, 96, 108);
    font-family: var(--font-display);
    font-weight: 700;
    color: var(--text);
    /* keep your hero spacing style */
    margin-top: 0;
    margin-bottom: 0;
  }

  &__img {
    /* image width = container, centered, responsive */
    width: calc(100svw * 1.5);
    max-width: 100%;
    display: block;
    margin-inline: auto;
  }
}

.temp,
#footer-container {
  transition: opacity .3s ease, transform .3s ease;
}

/* when the hamburger opens (body.is-nav-open), fade them out */
.is-nav-open .temp,
.is-nav-open #footer-container {
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
}

@media (orientation: landscape) and (min-width: map.get(tokens.$breakpoints, tablet)) {
 .temp__img {
  height: 50%;
  width: auto;
 }
}

@media (max-height: #{map.get(tokens.$breakpoints, mobile-guard)}) {

}

// TEMP CLASS! DELETE AFTER DONE