@use "../abstracts/mixins" as mixins;
@use "../abstracts/tokens" as tokens;

/* Containers */
.topbar {
    height: var(--row-height);
}

/* Structure */
.topbar__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space);
    padding-block: var(--space);
    flex-wrap: nowrap;
}

/* Elements */
.topbar__logo {
    height: var(--row-height);
    width: auto;
    display: block;
}
