/* ============================================================================== */
/* =                              SITE BACKGROUND                               = */
/* ============================================================================== */

:root {

    --base: linear-gradient(180deg,
            color-mix(in srgb, var(--accent-blue-800) 70%, transparent) 0%,
            var(--bg-900) 100%);

    --blend-main: linear-gradient(180deg,
            color-mix(in srgb, var(--primary-600) 70%, transparent) 0%,
            var(--surface-600) 100%);

    --mask-hero:
        radial-gradient(ellipse 800px 800px at 40% 15%,
            color-mix(in srgb,
                var(--surface-500) 90%,
                transparent 10%),
            transparent 100%),
        radial-gradient(ellipse 1500px 500px at 40% 15%,
            color-mix(in srgb,
                var(--primary-800) 90%,
                transparent 10%),
            transparent 75%),
        radial-gradient(ellipse 500px 200px at 66% 30%,
            color-mix(in srgb,
                var(--surface-700) 90%,
                transparent 10%),
            transparent 100%),
        radial-gradient(ellipse 800px 600px at 60% 10%,
            color-mix(in srgb,
                var(--surface-800) 90%,
                transparent 10%),
            transparent 100%);

    --mask-project:
        linear-gradient(to bottom,
            color-mix(in srgb, var(--surface-900) 50%, transparent) 0%,
            color-mix(in srgb, var(--surface-700) 85%, transparent) 5%,
            color-mix(in srgb, var(--surface-600) 95%, transparent) 25%,
            color-mix(in srgb, var(--surface-500) 75%, transparent) 30%,
            color-mix(in srgb, var(--surface-600) 75%, transparent) 90%,
            transparent 100%);
}