/* ============================================================================== */
/* =                              SITE BACKGROUND                               = */
/* ============================================================================== */

:root {

    --base: linear-gradient(180deg,
            color-mix(in srgb, var(--accent-blue-800) 70%, transparent) 0%,
            var(--bg-900) 100%);

    --mask-hero-mobile:
        radial-gradient(ellipse 700px 150px at 50% 20%,
            color-mix(in srgb,
                var(--primary-900) 95%,
                transparent 5%),
            transparent 100%),
        radial-gradient(ellipse 400px 300px at 50% 15%,
            color-mix(in srgb,
                var(--primary-700) 90%,
                transparent 10%),
            transparent 100%),
        radial-gradient(ellipse 500px 200px at 66% 45%,
            color-mix(in srgb,
                var(--surface-700) 90%,
                transparent 10%),
            transparent 100%),
        radial-gradient(ellipse 500px 200px at 45% 35%,
            color-mix(in srgb,
                var(--surface-800) 90%,
                transparent 10%),
            transparent 100%),
        linear-gradient(180deg,
            color-mix(in srgb, var(--surface-900) 100%, transparent) 0%,
            transparent 10%,
            transparent 25%,
            color-mix(in srgb, var(--surface-600) 50%, transparent) 85%,
            color-mix(in srgb, var(--surface-500) 75%, transparent) 95%,
            transparent 100%);

    --mask-hero-landscape:
        radial-gradient(ellipse 1200px 800px at 35% 20%,
            color-mix(in srgb,
                var(--primary-900) 90%,
                transparent 10%),
            transparent 100%),
        radial-gradient(ellipse 1200px 500px at 50% 15%,
            color-mix(in srgb,
                var(--primary-700) 90%,
                transparent 10%),
            transparent 90%),
        radial-gradient(ellipse 500px 200px at 66% 30%,
            color-mix(in srgb,
                var(--surface-700) 90%,
                transparent 10%),
            transparent 75%),
        radial-gradient(ellipse 800px 600px at 60% 10%,
            color-mix(in srgb,
                var(--surface-800) 90%,
                transparent 10%),
            transparent 90%),
        linear-gradient(to bottom,
            color-mix(in srgb, var(--surface-900) 100%, transparent) 0%,
            color-mix(in srgb, var(--surface-800) 90%, transparent) 5%,
            transparent 10%,
            transparent 25%,
            color-mix(in srgb, var(--surface-600) 50%, transparent) 85%,
            color-mix(in srgb, var(--surface-500) 75%, transparent) 95%,
            transparent 100%);

    --mask-creative: linear-gradient(90deg,
            transparent 0%,
            color-mix(in srgb, var(--bg-600) 90%, transparent) 5%,
            transparent 15%,
            color-mix(in srgb, var(--accent-blue-400) 50%, transparent) 20%,
            color-mix(in srgb, var(--bg-900) 90%, transparent) 25%,
            color-mix(in srgb, var(--bg-800) 90%, transparent) 30%,
            color-mix(in srgb, var(--accent-seaglass-400) 50%, transparent) 40%,
            transparent 45%,
            color-mix(in srgb, var(--bg-900) 90%, transparent) 50%,
            color-mix(in srgb, var(--accent-seaglass-900) 90%, transparent) 63%,
            color-mix(in srgb, var(--bg-900) 90%, transparent) 66%,
            color-mix(in srgb, var(--accent-blue-700) 90%, transparent) 70%,
            color-mix(in srgb, var(--bg-900) 90%, transparent) 80%,
            transparent 100%);

    --mask-project:
        linear-gradient(180deg,
            color-mix(in srgb, var(--surface-900) 50%, transparent) 0%,
            color-mix(in srgb, var(--surface-700) 85%, transparent) 5%,
            color-mix(in srgb, var(--surface-600) 95%, transparent) 25%,
            color-mix(in srgb, var(--surface-500) 75%, transparent) 30%,
            color-mix(in srgb, var(--surface-600) 75%, transparent) 90%,
            transparent 100%);
}