@use "./tokens" as tokens;

/* ============================================================================== */
/* =                                   SIZING                                   = */
/* ============================================================================== */

/* For responsive font sizes and spacing */
@function fluid($min, $max, $minvw: 320px, $maxvw: 1440px) {
    $slope: (#{$max} - #{$min}) / (#{$maxvw} - #{$minvw});
    $intercept: #{$min} - ($slope * #{$minvw});
    @return clamp(#{$min}, #{$intercept} + #{$slope} * 100vw, #{$max});
}

/* ============================================================================== */
/* =                               COLUMN LAYOUT                                = */
/* ============================================================================== */

/* (Helper) Sets an element's width to be equal to n columns */
@mixin set-col($n) {
    $col-width: calc(var(--col) * #{$n} + var(--gutter) * (#{$n} - 1));
    width: $col-width;
    max-width: $col-width;
    flex: 0 0 $col-width;
}

/* Applies different column widths for different breakpoints */
@mixin col-media($m, $t: null, $d: null, $clamp: false) {
    @if $m !=null {
        @include set-col($m);
    }

    @media (min-width: map-get(tokens.$breakpoints, tablet)) {
        @if $t !=null {
            @include set-col($t);
        }
    }

    @media (min-width: map-get(tokens.$breakpoints, desktop)) {
        @if $d !=null {
            @include set-col($d);
        }
    }
}

/* Removes horizontal margins and padding */
@mixin fullbleed {
    margin-inline: 0;
    padding-inline: 0;
}

