@use "sass:map";
@use "sass:math";
@use "./tokens"as tokens;
@use "./background";

$cq: (c1: 28rem, // ~448px
  c2: 47rem, // ~752px
  c3: 80rem, // ~1280px
  c4: 120rem // ~1920px
);

$text-anchors: (t1: (c1: 40, c2: 72, c3: 80, c4: 108),
  s1: (c1: 24, c2: 32, c3: 36, c4: 48),
  s2: (c1: 16, c2: 21, c3: 28, c4: 32),
  f3: (c1: 14, c2: 28, c3: 32, c4: 42),
  f4: (c1: 13, c2: 24, c3: 30, c4: 42),
  h1: (c1: 36, c2: 72, c3: 75, c4: 84),
  h2: (c1: 20, c2: 36, c3: 48, c4: 54),
  h3: (c1: 24, c2: 28, c3: 35, c4: 42),
  h4: (c1: 20, c2: 22, c3: 26, c4: 32),
  body: (c1: 16, c2: 18, c3: 19, c4: 20),
  big: (c1: 18, c2: 20, c3: 21, c4: 22),
  small: (c1: 12, c2: 14, c3: 16, c4: 16),
  nav-sm: (c1: 27, c2: 36, c3: 36, c4: 36),
  nav: (c1: 36, c2: 36, c3: 36, c4: 36),
  button: (c1: 13, c2: 18, c3: 24, c4: 28)
);

/* ============================== HELPER FUNCTIONS ============================== */

// Converts a pixel value into rem units, with 16px as a base
@function rem($px) {
  @return ($px * 0.0625) * 1rem;
}

// Generates a clamp between specified font sizes
@function cclamp($s1, $w1, $s2, $w2) {
  $min: rem($s1);
  $max: rem($s2);
  @return clamp(#{$min},
    calc(#{$min} + (#{($max - $min)}) * ((100cqw - #{$w1}) / #{($w2 - $w1)})),
    #{$max});
}

/* ============================================================================== */
/* =                                   MIXINS                                   = */
/* ============================================================================== */

/* ============================== SITE BACKGROUND =============================== */

// Creates a gradient layer for the main website background
@mixin bg-layer($name, $gradient, $blend:multiply, $size:3840px 2160px, $opacity:1, $pos:center center, $repeat:repeat, $index: 0) {
  .bg--#{$name} {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: $gradient;
    background-position: $pos;
    background-repeat: $repeat;
    background-size: $size;
    mix-blend-mode: $blend;
    opacity: $opacity;
    z-index: $index;
  }
}

// For tiled images
@mixin bg-tile-layer($name, $blend: normal, $opacity: 1, $index: 0, $scroll-affect: false, $base-size: null) {
  .bg--#{$name} {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image: url('/assets/img/bg/#{$name}.webp');
    background-image: image-set(
      url('/assets/img/bg/#{$name}.avif') type('image/avif'),
      url('/assets/img/bg/#{$name}.webp') type('image/webp')
    );
    background-repeat: repeat;
    background-position: 0 0;
    background-attachment: scroll;
    mix-blend-mode: $blend;
    opacity: $opacity;
    z-index: $index;

    @if $base-size {
      background-size: calc(#{$base-size} * 0.6);
      
      @media (orientation: landscape) and (min-width: map.get(tokens.$breakpoints, tablet)) {
        background-size: $base-size;
      }
    }
    
    @if $scroll-affect {
      transition: opacity 0.3s ease-out;
    }
  }
}


/* ================================ FONT SIZING ================================= */

@mixin text($role) {
  $a: map.get($text-anchors, $role);

  @if $a==null {
    @error "Unknown text role `#{$role}`";
  }

  $s1: map.get($a, c1);
  $s2: map.get($a, c2);
  $s3: map.get($a, c3);
  $s4: map.get($a, c4);

  $w1: map.get($cq, c1);
  $w2: map.get($cq, c2);
  $w3: map.get($cq, c3);
  $w4: map.get($cq, c4);

  font-size: rem($s1);

  @container (min-width: #{$w1}) {
    font-size: cclamp($s1, $w1, $s2, $w2);
  }

  @container (min-width: #{$w2}) {
    font-size: cclamp($s2, $w2, $s3, $w3);
  }

  @container (min-width: #{$w3}) {
    font-size: cclamp($s3, $w3, $s4, $w4);
  }

  @container (min-width: #{$w4}) {
    font-size: rem($s4);
  }

  @media (max-height: #{map.get(tokens.$breakpoints, mobile-guard)}) {
    $shrink-factor: 0.8;
    $s1: math.round($s1 * $shrink-factor);
    $s2: math.round($s2 * $shrink-factor);

    font-size: cclamp($s1, $w1, $s2, $w2);
  }
}

@mixin text-static($px, $bump-at-c3: false) {
  font-size: rem($px);

  @if $bump-at-c3 {
    @container (min-width: map.get($cq, c3)) {
      font-size: rem($px + 1);
    }
  }
}

// Removes horizontal margins and padding
@mixin fullbleed {
  margin-inline: 0;
  padding-inline: 0;
}