@use "sass:map";
@use "./tokens"as tokens;

/* ============================================================================== */
/* =                        RESPONSIVE LAYOUT VARIABLES                         = */
/* ============================================================================== */
:root {

    // Width
    --cols: 4;
    --unit: calc(100svw / var(--cols));
    --col: calc(var(--unit) * (4 / 5));
    --gutter: calc(var(--unit) * (1 / 5));
    --margin: calc(var(--gutter) / 2);

    --container: calc(100svw - (var(--margin) * 2));

    --col-half: calc((var(--container) * 0.5) - (var(--gutter) * 0.5));

    // Height
    --margin-h: 24px;
    --gutter-h: 48px;
    --container-h: calc(100svh - (var(--margin-h) * 2));

    --row-multiplier: 2;
    --topbar-height: calc(var(--gutter-h) * var(--row-multiplier));
    --featured-height: calc(var(--container) / 1.5);

}

/* ============================================================================== */
/* =                             RESPONSIVE LAYOUTS                             = */
/* ============================================================================== */

@media (orientation: lanscape) and (min-width: map.get(tokens.$breakpoints, tablet)) {
  :root {
    --cols: 16;

    --gutter-h: 96px;
    --row-multiplier: 1;
  }
}

@media (max-height: map.get(tokens.$breakpoints, mobile-guard)) {
  :root {
    
    --gutter-h: 48px;
    --row-multiplier: 2;
  }
}
