@use "./tokens"as tokens;

:root {
    --cols: 4;
    --unit: calc(100vw / var(--cols));
    --col: calc(var(--unit) * (4 / 5));
    --gutter: calc(var(--unit) * (1 / 5));
    --margin: calc(var(--gutter) / 2);
    --container: 100vw;
}

/* MOBILE */
@media (max-width: map-get(tokens.$breakpoints, tablet)) {
    :root {
        --row-height: calc(#{map-get(tokens.$breakpoints, mobile)} / var(--cols) * (4 / 5) * (2 / 3));
    }
}

@media (max-width: map-get(tokens.$breakpoints, tablet)) and (orientation: landscape)  {
    :root {
        --cols: 6;
        --row-height: calc(#{map-get(tokens.$breakpoints, mobile)} / var(--cols) * (4 / 5));
    }
}

/* TABLET */
@media (min-width: map-get(tokens.$breakpoints, tablet)) {
    :root {
        --cols: 10;
        --row-height: calc(#{map-get(tokens.$breakpoints, tablet)} / var(--cols) * (4 / 5));
    }
}

/* DESKTOP (12 columns) */
@media (min-width: map-get(tokens.$breakpoints, desktop)) {
    :root {
        --cols: 16;
        --row-height: calc(#{map-get(tokens.$breakpoints, desktop)} / var(--cols) * (4 / 5));
    }
}