/* ============================================================================== */
/* =                                BREAKPOINTS                                 = */
/* ============================================================================== */
$breakpoints: (mobile: 360px,
  tablet: 768px,
  desktop: 1280px,
  uhd: 1920px,
  mobile-guard: 480px,
  tablet-guard: 820px);

/* ============================================================================== */
/* =                                 FONT FACES                                 = */
/* ============================================================================== */
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Variable.woff2') format('woff2'),
    url('../fonts/Satoshi-Variable.woff') format('woff'),
    url('../fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-VariableItalic.woff2') format('woff2'),
    url('../fonts/Satoshi-VariableItalic.woff') format('woff'),
    url('../fonts/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

/* ============================================================================== */
/* =                                   TOKENS                                   = */
/* ============================================================================== */
:root {

  /* =============================== COLOR PALETTE ================================ */

  /* ---------------------------------- SURFACES ---------------------------------- */
  --bg-100: #526264;
  --bg-200: #405053;
  --bg-300: #35484B;
  --bg-400: #2A3F42;
  --bg-500: #213235;
  --bg-600: #192627;
  --bg-700: #0F1819;
  --bg-800: #0C1213;
  --bg-900: #080D0E;

  --surface-100: #AFC2AF;
  --surface-200: #7E9E7E;
  --surface-300: #678867;
  --surface-400: #577756;
  --surface-500: #486448;
  --surface-600: #3A523A;
  --surface-700: #2D412D;
  --surface-800: #1F2E1F;
  --surface-900: #121C12;

  /* ------------------------------------ TEXT ------------------------------------ */
  --text-1: #FFFFFF;
  --text-2: #D6E1DF;
  --text-3: #AAB7B5;
  --text-4: #89938F;
  --text-5: #6A7471;

  --text-mint-1: #E4F1E7;
  --text-mint-2: #CDDDCF;
  --text-mint-3: #AFC4AE;
  --text-mint-4: #B9C5B8;
  --text-mint-5: #91B491;

  /* ---------------------------------- BRANDING ---------------------------------- */
  --logo: #33D39D;

  --primary-100: #E3EFE3;
  --primary-200: #C7DEC7;
  --primary-300: #A9CAA9;
  --primary-400: #95BA95;
  --primary-500: #91B491;
  --primary-600: #769776;
  --primary-700: #5B7A5B;
  --primary-800: #405E40;
  --primary-900: #284028;

  --secondary-100: #CFF5E7;
  --secondary-200: #A6E7D1;
  --secondary-300: #7FD9BF;
  --secondary-400: #56B998;
  --secondary-500: #3B9F84;
  --secondary-600: #2F7D67;
  --secondary-700: #1F5545;
  --secondary-800: #153C30;
  --secondary-900: #0C2820;

  /* ---------------------------------- ACCENTS ----------------------------------- */

  --accent-orange-100: #FFE3CC;
  --accent-orange-200: #FFC699;
  --accent-orange-300: #FFAD70;
  --accent-orange-400: #FFB37A;
  --accent-orange-500: #FF8A3D;
  --accent-orange-600: #E26B1B;
  --accent-orange-700: #A64811;
  --accent-orange-800: #7A310B;
  --accent-orange-900: #4E1D06;

  --accent-peach-100: #FFE2CC;
  --accent-peach-200: #FFD1B5;
  --accent-peach-300: #FBB48B;
  --accent-peach-400: #F7B267;
  --accent-peach-500: #F79D65;
  --accent-peach-600: #F4845F;
  --accent-peach-700: #F27059;
  --accent-peach-800: #F25C54;
  --accent-peach-900: #C9433E;

  --accent-yellow-100: #FFF3CC;
  --accent-yellow-200: #FFE799;
  --accent-yellow-300: #F8D766;
  --accent-yellow-400: #EFCB48;
  --accent-yellow-500: #DDAE36;
  --accent-yellow-600: #B88C25;
  --accent-yellow-700: #946B18;
  --accent-yellow-800: #6B4D0E;
  --accent-yellow-900: #453108;

  --accent-brown-100: #E8E2D4;
  --accent-brown-200: #D8CBA7;
  --accent-brown-300: #C6B47F;
  --accent-brown-400: #B7A16B;
  --accent-brown-500: #A18F63;
  --accent-brown-600: #847551;
  --accent-brown-700: #695D42;
  --accent-brown-800: #4C4330;
  --accent-brown-900: #322B1F;

  --accent-seaglass-100: #EFF6E0;
  --accent-seaglass-200: #EAF2E5;
  --accent-seaglass-300: #D6E4CF;
  --accent-seaglass-400: #C3D6B9;
  --accent-seaglass-500: #AEC3B0;
  --accent-seaglass-600: #92A893;
  --accent-seaglass-700: #768C77;
  --accent-seaglass-800: #5D6F5D;
  --accent-seaglass-900: #434F44;

  --accent-blue-100: #E4EEF0;
  --accent-blue-200: #C1D4D8;
  --accent-blue-300: #93B2BA;
  --accent-blue-400: #598392;
  --accent-blue-500: #3E6C7A;
  --accent-blue-600: #124559;
  --accent-blue-700: #09313F;
  --accent-blue-800: #05232C;
  --accent-blue-900: #01161E;



  /* ================================ SITE ALIASES ================================ */

  /* ----------------------------------- COLORS ----------------------------------- */

  // Surfaces
  --bg: var(--bg-400);
  --bg-alt: var(--bg-600);
  --bg-nav: var(--bg-700);
  --bg-footer: var(--surface-900);

  --project-panel: var(--surface-900);
  --project-panel-2: var(--surface-800);
  --project-mask: var(--surface-800);
  --project-header: var(--primary-300);
  --project-highlight: var(--secondary-300);
  --project-button: var(--accent-seaglass-700);

  // Text
  --text: var(--text-1);

  --featured-label: var(--secondary-200);


  // Elements
  --button: var(--secondary-500);
  --button-hover: var(--secondary-400);
  --button-contact: var(--accent-orange-600);
  --button-contact-hover: var(--accent-orange-700);

  --nav: var(--text-1);
  --nav-hover: var(--primary-300);

  --hamburger: var(--primary-800);
  --hero-arrow: var(--primary-400);

  // Accessibility
  --accent: var(--accent-orange-500);

  /* ----------------------------------- FONTS ------------------------------------ */

  --font-system: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
  --font-display: "Satoshi", "Inter", var(--font-system);
  --font-body: "Inter", var(--font-system);
  --font-arrow: "Kablammo", var(--font-arrow);

}