/* Responsive Sizing Breakpoints */
$breakpoints: (
  mobile: 344px,
  tablet: 768px,
  desktop: 1280px,
  uhd: 1920px
);

:root {
  /* Color Scheme*/
  --bg: #2A3F42;
  --bg-alt: #192627;
  --text: #ffffff;
  --highlight: #33D39D;
  --accent: #ff8a3d;
  --card-bg: #3B9F84;

  /* Fonts */
  --font-body: "Atkinson Hyperlegible Mono", monospace;
  --font-display: "Alan Sans", sans-serif;
  --font-serif: "Bona Nova SC", serif;
  
}

