      <div class="footer">
        <div class="footer__inner">
          <div class="footer__endbar">
            <div class="footer__info">
              <a href="/index.html">
                <img class="image__logo image__logo--footer" src="/assets/img/logo.png" alt="Justin Saint logo">
              </a>
              <div class="footer__contact">
                <p class="text__footer"><b>Justin Saint</b> | UI/UX Designer</p>
                <p class="text__footer">Based in Vancouver, BC</p>
              </div>
            </div>
            <div class="footer__links">
              <a href="https://www.instagram.com/justincuddlescats/"
                class="footer__link footer__link--none">Instagram</a>
              <a href="www.linkedin.com/in/itsjustinsaint" class="footer__link">LinkedIn</a>
              <a href="../assets/docs/JustinSaint_UXUIDesigner.pdf" target="_blank" class="footer__link">Resume</a>
              <button id="contact-copy" class="button button--footer">
                <img class="image__icon" src="../../assets/img/icons/copy.svg" alt="Copy Icon">
                Copy Email
              </button>
            </div>
          </div>
        </div>
      </div>