      <div class="footer">
        <div class="footer__inner">
          <div class="footer__connect" data-u="vedtniasnitsuj" data-d="liamg" data-tld="moc">
            <h2 class="footer__header">
              Connect With Me
              <span class="footer__arrow">&nbsp;↓ </span>
            </h2>
          </div>

          <div class="footer__endbar">
            <div class="footer__links">
              <a href="https://www.instagram.com/justincuddlescats/" class="footer__link">Instagram</a>
              <a href="www.linkedin.com/in/itsjustinsaint" class="footer__link">LinkedIn</a>
            </div>
            <div class="footer__contact">
              <p class="footer__copyright">© 2025 Justin Saint. All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>